<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Iesi.Collections" version="3.2.0.4000" targetFramework="net45" />
  <package id="NHibernate" version="3.3.3.4001" targetFramework="net45" />
  <package id="NHibernate.DataAnnotations" version="3.3.3.4001" targetFramework="net45" />
  <package id="Portable.DataAnnotations" version="1.0.0" targetFramework="net45" />
  <package id="WCF.Validation" version="1.7.0" targetFramework="net45" />
</packages>